*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.social-section{
    background-color: #000;
}
.music{
    text-align: center;
}
.music-title{
    margin: 3rem;
}

#song-1{
    background-image: url("../images/songs/bad-alive.jpg");
}
#song-2{
    background-image: url("../images/songs/nectar.jpg");
}
#song-3{
    background-image: url("../images/songs/electric-hearts.jpg");
}
#song-4{
    background-image: url("../images/songs/love-talk.jpg");
}
#song-5{
    background-image: url("../images/songs/moonwalk.jpg");
}
#song-6{
    background-image: url("../images/songs/take-off.jpg");
}
#song-7{
    background-image: url("../images/songs/turn-back-time.jpg");
}
#song-8{
    background-image: url("../images/songs/regular.jpg");
}

.songs-section{
    display: flex;   
    flex-wrap: wrap;
}
.div-songs{
    width: 48%;
    margin: 1%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative
}
.songs-article{
    position: relative;
    background-color: red;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.songs-article:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.songs-texts{
    font-size: 1.7rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    /* display: none; */
    position: absolute;
    bottom: 50%;
}   
.div-songs a{
    font-size: 3rem;
    border: 2px solid white;
    padding: 0 .5rem;
    font-weight: bold;
}
.div-songs a:hover{
    color: black;
    background-color: white;
    transition: .3s ease-in;
}
.div-songs p{
    margin-top: .5rem;
    text-transform: capitalize;
}

.opacity-active{
    opacity: .3;
    transition: .4s all ease-in-out;
}
.listen-active{
    /* display: initial; */
}