*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.social-section{
    background-color: #000;
}
.music-title{
    margin: 3rem;
    text-align: center;
}

#song-1{
    background-image: url("../images/songs/bad-alive.jpg");
}
#song-2{
    background-image: url("../images/songs/nectar.jpg");
}
#song-3{
    background-image: url("../images/songs/electric-hearts.jpg");
}
#song-4{
    background-image: url("../images/songs/love-talk.jpg");
}
#song-5{
    background-image: url("../images/songs/moonwalk.jpg");
}
#song-6{
    background-image: url("../images/songs/take-off.jpg");
}
#song-7{
    background-image: url("../images/songs/turn-back-time.jpg");
}
#song-8{
    background-image: url("../images/songs/regular.jpg");
}

.songs-section{
    margin: 0 auto;
    display: flex;   
    flex-wrap: wrap;
}
.div-songs{
    width: 96%;
    margin: 2%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
.songs-article{
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.songs-article:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.songs-texts{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: none;
    
}   
.div-songs a{
    font-size: 2rem;
    border: 2px solid white;
    padding: 0 .5rem;
    font-weight: bold;
    position: absolute;
    bottom: 45%;
    left: 0;
    right: 0;
    margin: .5rem auto;
    width: auto;
    max-width: 8rem;
}
.div-songs a:hover{
    color: black;
    background-color: white;
    transition: .3s ease-in;
}
.div-songs p{
    font-size: 1.2rem;
    margin-top: .5rem;
    text-transform: capitalize;
    position: absolute;
    bottom: 35%;
    left: 0;
    right: 0;
    margin: auto;
    width: auto;
    max-width: 20rem;
}

.opacity-active{
    opacity: .4;
    transition: .4s all ease-in-out;
}
.listen-active{
    display: initial;
}
.listen-active-grayscale{
    filter: grayscale(100%);
}